<center><h1>Hello There</h1></center>

<div class ="row" id ="form_home">
    <%= form_for(:session, :html => {:class =>"col s5", role: "form"}, url: login_path) do |f| %>
        <div class="row">
            <div class="input-field col s12">
                
                <%=f.text_field :email, html: {class: "validate", id: "email", type: "email"}%>
                <label for="email">Email</label>
                <span class ="helper-text" data-error="wrong" data-success="right"> </span>
            </div>
            <br>
            <div class="input-field col s12">
                
                <%=f.password_field :password, html: {class: "validate", id: "password", type: "password"}%>
                <label for="password">Password</label>
               
            </div>
            <br>
        
        </div>
       <center> <a class="waves-effect waves-light btn-large">
        <%=f.submit 'Login'%>
        </a>
        </center>
        <center><p>Don't have an account? <a href="users/new">Sign Up</a></p></center>
    <%end%>
</div>